<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.mind.framework.dispatcher.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>container</param-name>
			<!-- Google Guice -->
			<!-- <param-value>Guice</param-value> -->

			<!-- Spring -->
			<param-value>Spring</param-value>
		</init-param>

		<!-- 只对Guice容器有效 <init-param> <param-name>modules</param-name> <param-value>demo.UserModel</param-value> 
			</init-param> -->

		<!-- 模版引擎 -->
		<init-param>
			<param-name>template</param-name>
			<param-value>Velocity</param-value>
		</init-param>

		<!-- 静态资源声明,不允许访问WEB-INFO、META-INF两个目录 -->
		<init-param>
			<param-name>resource</param-name>
			<param-value>
					css|js|jpg|png|gif|html|htm|xls|xlsx|doc|docx|ppt|pptx|pdf|rar|zip|txt
			</param-value>
		</init-param>

		<!-- 静态资源浏览器缓存设置 ,不缓存可以设置-1 -->
		<init-param>
			<param-name>expires</param-name>
			<param-value>-1</param-value><!-- 31536000秒 365天 -->
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/springContext.xml,/WEB-INF/businessConfig.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<session-config>
		<!-- session timeout to 30 minutes -->
		<session-timeout>30</session-timeout>
	</session-config>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>400</error-code>
		<location>/error/400</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error/404</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/error/9</location>
	</error-page>
	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/error/9</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error/9</location>
	</error-page>

</web-app>