<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <properties>
        <property name="logPath" value="logs"/>
        <property name="logFile" value="webmind.log"/>
        <property name="log.project" value="org.mind.framework"/>
        <property name="log.project.level" value="debug"/>
    </properties>

    <Appenders>
        <!-- 控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{MM-dd HH:mm:ss.SSS} [%-5level] [%t] %c{0}.%M(%L) - %m%n%ex"/>
        </Console>

        <!-- 日志轮换 -->
        <!-- AsyncAppender or AsyncLogger will auto-flush in batches, so switch off immediateFlush. -->
        <RollingFile name="RollingFile" fileName="${logPath}/${logFile}" filePattern="${logPath}/${logFile}.%i.%d{yyyy-MM-dd}">
            <PatternLayout pattern="%d{MM-dd HH:mm:ss.SSS} [%-5level] [%t] %c{0}.%M(%L) - %m%n%ex"/>
            <Policies>
                <!-- 根据filePattern日期轮换 -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!-- 根据文件大小轮换 -->
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>
        </RollingFile>

        <!-- 异步日志输出 -->
        <Async name="Async" includeLocation="true">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console"/>
        </Async>
    </Appenders>

    <Loggers>
        <!-- 设置根日志级别 -->
        <Root level="info">
            <AppenderRef ref="Async"/>
        </Root>

        <!-- 特定包的日志级别 -->
        <Logger name="${log.project}" level="${log.project.level}" additivity="false">
            <AppenderRef ref="Async"/>
        </Logger>
    </Loggers>
</Configuration>