<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
           	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.mind.framework"/>
    <context:property-placeholder location="classpath:frame.properties"/>

    <bean id="cacheManager" class="org.mind.framework.cache.LruCache" factory-method="initCache" destroy-method="destroy">
        <property name="capacity" value="100"/><!-- 活跃缓存条目大小 -->
        <property name="timeout" value="0"/><!-- 缓存条目超时设置，0表示忽略该参数 -->
    </bean>

    <!-- Email service -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl"
          scope="singleton">
        <property name="username" value="xxx@xxx.com"/>
        <property name="password" value="xxxx"/>
        <property name="host" value="smtp.exmail.xxxx.com"/>
        <property name="port" value="25"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.timeout">25000</prop>
            </props>
        </property>
    </bean>

    <!-- velocity config -->
    <bean id="velocityEngine" class="org.apache.velocity.spring.VelocityEngineFactoryBean">
        <property name="configLocation" value="classpath:velocity.properties"/>
    </bean>

    <!-- MQ config -->
    <bean id="queueService" class="org.mind.framework.service.queue.QueueLittle" destroy-method="destroy">
        <property name="queueInstance">
            <bean class="java.util.concurrent.LinkedBlockingQueue">
                <constructor-arg name="capacity" type="int" value="1024"/>
            </bean>
        </property>
    </bean>

    <!-- thread-pool processor MQ config -->
    <bean id="executorQueueService" class="org.mind.framework.service.queue.QueueLittle" destroy-method="destroy">
        <property name="queueInstance">
            <bean class="java.util.concurrent.LinkedBlockingQueue">
                <constructor-arg name="capacity" type="int" value="1024"/>
            </bean>
        </property>
    </bean>

    <!-- start MQ service -->
    <bean id="startQueueService" class="org.mind.framework.service.UpdateLoopService">
        <property name="spaceTime" value="10"/><!-- ms, 0 not loop -->
        <property name="daemon" value="true"/><!-- daemon thread -->
        <property name="updaters">
            <list>
                <bean class="org.mind.framework.service.queue.ConsumerService">
                    <property name="queueService" ref="queueService"/>
                </bean>

                <!--利用线程池处理queueService-->
                <bean class="org.mind.framework.service.queue.ConsumerService" init-method="initExecutorPool">
                    <property name="useThreadPool" value="true"/>
                    <property name="queueService" ref="executorQueueService"/>
                </bean>
            </list>
        </property>
    </bean>

    <!-- WEB main service -->
    <bean id="mainService" class="org.mind.framework.service.WebMainService" destroy-method="stop">
        <property name="childServices">
            <list>
                <ref bean="startQueueService"/>
            </list>
        </property>
    </bean>


</beans>
